body {
    padding: 10px;
}

a:hover {
    text-decoration: none;
}

.listings {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    position: relative;
}

.listings li {
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #437cb3;
    border-radius: 5px;
    position: relative;
}

.listings .user {
    margin: -10px -10px 0px -10px;
    padding: 5px 10px;
    text-align: right;
    background-color: #007bff;
    color: #fff;
}

.listings .active, .listings .ended {
    border: 2px solid green;
    border-radius: 10px;
    color: green;
    width: 80px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.listings .ended {
    border: 2px solid #bd2424;
    color: #bd2424;
}

.listings .title {
    font-size: 1.5em;
    color: #444;
    overflow: hidden;
}

.listings .listing-pic {
    height: 200px;
    width: 230px;
    background-size: cover;
    background-position: center;
}

.listings .description {
    height: 3em;
    overflow: hidden;
    margin-top: 10px;
    color: #444;
}

.listings .bid {
    margin: 10px -10px -10px -10px;
    padding: 5px;
    text-align: right;
    background-color: #007bff;
    color: #fff;
}

.listing {
    width: 400px;
}

.listing .header {
    display: flex;
    justify-content: space-between;
    background-color: #007bff;
    color: #fff;
    padding: 5px;
}

.listing .category {
    padding: 2px 5px;
    color: #007bff;
    text-align: center;
    width: 40%;
    margin-top: 10px;
    margin-left: 60%;
    border-radius: 15px;
    border: 1px solid #007bff;
}

.listing .title {
    font-size: 1.5em;
}

.listing .listing-pic {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.listing .description {
    margin-bottom: 10px;
}

.listing .winner {
    font-size: 18px;
    padding: 5px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.listing .bid {
    margin-top: 10px;
}

.listing form .submit, .listing .unwatched, .listing .watched, .historyHeader .closeAuction {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.listing .watched {
    background-color: rgb(185, 37, 37);
}

.listing .unwatched, .listing .watched {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

.listing .bidInput {
    width: 120px;
    margin: 10px;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 5px;
    outline: #007bff;
}

.historyHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 5px;
}

.historyHeader .ended {
    color: rgb(185, 37, 37);
    border: 2px solid rgb(185, 37, 37);
    padding: 5px;
    border-radius: 15px;
}

.bidHistory {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.bidHistory td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.bidHistory tr:nth-child(even) {
    background-color: #dddddd;
}

.tooLow {
    color: #fff;
    background-color: rgb(199, 1, 1);
    font-size: 12px;
    padding: 2px 5px;
    text-align: center;
    border-radius: 5px;
    width: 230px;
}

.categories {
    list-style: none;
}

.comments {
    margin-bottom: 20px;
}

.comments .commentArea {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
    padding: 5px 10px;
}

.comments .commentArea:focus {
    outline: none;
    box-shadow: 0 0 0 1px #007bff;
}

.comments .submit {
    width: 30%;
    margin-left: 70%;
    margin-bottom: 20px;
}

.comments .header {
    font-size: 12px;
    border-radius: 5px 5px 0 0;
}

.comments .commentText {
    font-size: 12px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 0 0 5px 5px;
    margin-bottom: 5px;
}