body {
    padding: 50px;
    background-color: #333;
}

table {
    text-align: center;
}

#date {
    width: 100px;
}

#time {
    width: 50px;
}

#price {
    width: 100px;
}

#1d {
    width: 100px;
}