{% extends 'auctions/layout.html' %}

{% block body %}
    <div class=listing>
        <div class="header">
            <div class=user>Created by: <strong>{{ listing.user }}</strong></div>
            <div class="created">{{ listing.time_created }}</div>
        </div>
        <div class=title>{{ listing.title }}</div>
        {% if listing.image_url %}
            <div class=listing-pic style="background-image: url('{{ listing.image_url }}');"></div>
        {% else %}
            <div class=listing-pic style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/488px-No-Image-Placeholder.svg.png');"></div>
        {% endif %}
        <div class=description>{{ listing.description }}</div>
        <div class=bid>
            <span>Current bid:</span>
            <span><strong>
                {{ listing.current_bid }} $
            </strong></span>
        </div>
        {% if listingOwner %}
            <h4>Bidding history</h4>
            <table class="bidHistory">
                <tr>
                    <th>User</th>
                    <th>Bid amount</th>
                    <th>Timestamp</th>
                </tr>
                {% for bid in bids %}
                    <tr>
                        <td>{{ bid.bidder }}</td>
                        <td>{{ bid.offer }} $</td>
                        <td>{{ bid.timestamp }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% elif not user.is_authenticated %}
            <div>You need to be logged in to bid</div>
        {% else %}
            <form action="{% url 'listing view' id=listing.id %}" method="POST">
                {% csrf_token %}
                {{ bidForm }}
                <input class=submit type="submit" value="Place bid">
            </form>
            {% if tooLow %}
                <div class="tooLow">Offer must be higher than Current bid</div>
            {% endif %}
            <a class="{{ watch_button.class }}" href="{% url 'change watch' listing_id=listing.id %}">{{ watch_button.name }}</a>
        {% endif %}
    </div>
{% endblock body %}