<div class="posts">
    <h4>{{ title }}</h4>
    {% if posts.has_other_pages %}
        <nav aria-label="..."></nav>
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            <div class="post" data-post_id="{{ post.id }}">
                <div class="header">
                    <div class="user"><a href="{% url 'profile' profile_id=post.user_id %}">{{ post.user }}</a></div>
                    <div class="timestamp">{{ post.time_created|date:'Y m d | H:i' }}</div>
                </div>
                <div class="content">{{ post.post_content }}</div>
                <div class="footer">
                    {% if request.user in post.likes.all %}
                        <div class="heart"><i class="fas fa-heart"></i></div>
                    {% else %}
                        <div class="heart"><i class="far fa-heart"></i></div>
                    {% endif %}
                    <div class="likes">{{ post.likes.count }}</div>
                    {% if user == post.user %}
                        <div class="buttons">
                            <div class="edit"><i class="fas fa-edit"></i> Edit</div>
                            <div class="cancel-btn">Cancel</div>
                            <div class="save-btn">Save</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="noposts">User has no posts yet...</div>
    {% endif %}
</div>