{% extends 'network/layout.html' %}

{% block body %}
    <div class="profile">
        <div class="username">
            <div class="user_icon"><i class="fas fa-user"></i></div>
            <div class="profile_name">{{ profile.user }}</div>
        </div>
        <div class="info">
            <div class="date_joined"><strong>Joined:</strong> {{ profile.user.date_joined|date:"d M Y" }}</div>
            <div class="followers"><strong>Followers:</strong> <span class="followers_count">{{ profile.followers.count }}</span></div>
            <div class="following"><strong>Following:</strong> {{ profile.user.following.count }}</div>
            {% if profile.user != user and user.is_authenticated %}
                {% if request.user in profile.followers.all %}
                    <div class="follow unfollow" id="{{ profile.id }}"><i class="fas fa-user-minus"></i>Unfollow</div>
                {% else %}
                    <div class="follow" id="{{ profile.id }}"><i class="fas fa-user-plus"></i>Follow</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% include 'network/posts.html' with title="Profile posts" %}
{% endblock body %}