.navbar, .body {
    padding: 10px 50px;
}

form {
    width: 300px;
}

/* Index page */
.postArea {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    resize: none;
}

.postArea:focus {
    outline: none;
    border: 1px solid #58a9ff;
    box-shadow: 0 0 5px #007bff;
}

.post_form input {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
}

.posts {
    width: 400px;
    margin-top: 10px;
}

.post {
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.post .header a {
    color: #25667a;
}

.post .header .timestamp {
    font-size: 12px;
}

.post .content {
    padding: 5px 10px;
    border: 1px solid #007bff;
}

.post .footer {
    display: flex;
    align-items: center;
    background-color: #007bff;
    border-radius: 0 0 10px 10px;
    color: #fff;
    position: relative;
}

.post .footer .likes {
    position: relative;
    left: 30px;
    padding: 0 10px;
}

.post .footer .edit {
    position: relative;
    margin-left: auto;
    padding: 0 10px;
    cursor: pointer;
}

.noposts {
    text-align: center;
    color: #777;
}

@keyframes heart {
    0% {
        top: 0;
        left: 0;
        font-size: 16px;
        color: #fff;
    }

    33% {
        top: 2px;
        left: 2px;
        font-size: 12px;
    }

    66% {
        top: -3px;
        left: -3px;
        font-size: 22px;
    }

    100% {
        top: 0;
        left: 0;
        font-size: 16px;
        color: #ff3838;
    }
}

.like-animation {
    animation: heart 500ms ease-in-out;
}

.post .footer .heart i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 10px;
    cursor: pointer;
}

/* Profile */

.profile {
    display: flex;
    align-items: center;
    width: 400px;
}

.profile .user_icon {
    font-size: 36px;
    color: #aaa;
    text-align: center;
    line-height: 25px;
}

.profile .profile_name {
    font-size: 30px;
    width: 240px;
    text-align: center;
    font-weight: 600;
    line-height: 25px;
}

.profile .follow {
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

.profile .follow i {
    position: absolute;
    left: 10px;
    top: 8px;
}

.profile .unfollow {
    background: #ef1414;
}