.navbar, .body {
    padding: 10px 50px;
}

form {
    width: 300px;
}

/* Index page */
.postArea {
    padding: 5px 10px;
}

.post_form input {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
}

.post {
    background-color: #eee;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post .header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.post .content {
    padding: 5px 10px;
    border: 1px solid #007bff;
}

.post .footer {
    display: flex;
    align-items: center;
    background-color: #007bff;
    border-radius: 0 0 10px 10px;
    color: #fff;
    position: relative;
}

.post .footer .likes {
    position: relative;
    left: 30px;
    padding: 0 10px;
}

@keyframes heart {
    0% {
        top: 0;
        left: 0;
        font-size: 16px;
        color: #fff;
    }

    33% {
        top: 2px;
        left: 2px;
        font-size: 12px;
    }

    66% {
        top: -3px;
        left: -3px;
        font-size: 22px;
    }

    100% {
        top: 0;
        left: 0;
        font-size: 16px;
        color: #ff3838;
    }
}

.like-animation {
    animation: heart 500ms ease-in-out;
}

.post .footer .heart i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 10px;
    cursor: pointer;
}